Django==3.0.5
gunicorn==20.1.0
mysql-connector==2.2.9
mysqlclient==2.0.3
PyMySQL==0.9.3
pyparsing==2.4.7
pyperclip==1.8.2
PyScreeze==0.1.26
python-dateutil==2.8.1
PyTweening==1.0.3
pytz==2019.3
PyWavelets==1.1.1
whitenoise==5.2.0

